{% extends "Repository/_base.html" %}

{% load i18n static %}


{% block title %}{% endblock %}

{% block css %}
	{{block.super}}
	<link rel="stylesheet" type="text/css" href="{% static "Repository/packages/bootstrap-4.0.0-alpha.5/dist/css/bootstrap.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "Repository/packages/bootstrap-4.0.0-alpha.5/dist/css/bootstrap-flex.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "Repository/packages/bootstrap-4.0.0-alpha.5/dist/css/bootstrap-grid.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "Repository/packages/font-awesome-4.7.0/css/font-awesome.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "Repository/css/base.css" %}" />
{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:home' %}" class="breadcrumb-item" >
		<i class="fa fa-home" aria-hidden="true"></i>
		{% trans "Home" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "Welcome" %}{% endblock %}

{% block content %}
	<div class="col-sm-2 col-md-2">
		<div class="row">
		{% block sidebar %}
			<div class="list-group sidebar">

				<a href="{% url 'manager:publication_list' page=1 %}" class="list-group-item sidebar-item {% block publications %}{% endblock %}">
					<i class="fa fa-book"></i>
					{% trans "Publications" %}
				</a>

				<a href="{% url 'manager:author_list' page=1 %}" class="list-group-item sidebar-item {% block authors %}{% endblock %}">
					<i class="fa fa-graduation-cap"></i>
					{% trans "Authors/Advisors" %}
				</a>
				
				<a href="{% url 'manager:community_list' page=1 %}" class="list-group-item sidebar-item {% block communities %}{% endblock %}">
					<i class="fa fa-university"></i>
					{% trans "Communities" %}
				</a>
				
				<a href="{% url 'manager:collection_list' page=1 %}" class="list-group-item sidebar-item {% block collections %}{% endblock %}">
					<i class="fa fa-object-group"></i>
					{% trans "Collections" %}
				</a>

				<a href="{% url 'manager:publisher_list' page=1 %}" class="list-group-item sidebar-item {% block publishers %}{% endblock %}">
					<i class="fa fa-newspaper-o"></i>
					{% trans "Publishers" %}
				</a>
				
				<a href="{% url 'manager:subject_list' page=1 %}" class="list-group-item sidebar-item {% block subjects %}{% endblock %}">
					<i class="fa fa-flag"></i>
					{% trans "Subjects" %}
				</a>

				<a href="{% url 'manager:keyword_list' page=1 %}" class="list-group-item sidebar-item {% block keywords %}{% endblock %}">
					<i class="fa fa-tags"></i>
					{% trans "Keywords" %}
				</a>
			
			</div>
		{% endblock %}
		</div>
	</div>

	<div class="col-sm-10 col-md-10">
		<div class="row">
		{% block content_inner %}
			<div class="jumbotron jumbotron-fluid">
				<div class="container-fluid">
					<h1 class="display-4">{% trans "Institutional Repository UFC" %}</h1>
					<p class="lead">{% trans "Aims to store, preserve, disseminate and allow open access to scientific, academic, artistic, technical and administrative documents produced by UFC researchers and students." %}</p>
				</div>
			</div>
		{% endblock %}
		</div>
	</div>
{% endblock %}

{% block js %}
	{{ block.super }}
	<script src="{% static "Repository/packages/jquery-3.1.1.js" %}"></script>
	<script src="{% static "Repository/packages/tether.min.js" %}"></script>
	<script src="{% static "Repository/packages/bootstrap-4.0.0-alpha.5/dist/js/bootstrap.min.js" %}"></script>
	<script src="{% static "Repository/js/base.js" %}"></script>
{% endblock %}

{% block scripts %}
{% endblock %}