{% load i18n static %}
<!DOCTYPE html>

<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	
	{% block css %}
	
	{% endblock %}
	
	{% block stylesheet %}
	
	{% endblock %}
</head>
{% load i18n %}

<body class="max-height">

<!-- Container -->

	{% block messages %}
		{% if messages %}
			<ul class="messagelist">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endblock messages %}

	<div class="container-fluid ">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					{% include "Repository/_header.html" %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<nav class="breadcrumb" style="width: 100%;">
				        {% block breadcrumbs %}
				        
				 	   {% endblock %}
					</nav>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<h3 class="text-md-center page-title">
					{%  block page_title %}{% endblock %}
				</h3>
			</div>
			<div class="row">
				<div class="page-container">
					{% block content %}

					{% endblock %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{% block footer %}
					{% include "Repository/_footer.html" %}
				{% endblock %}
			</div>
		</div>
	</div>
	{% block js %}
	
	{% endblock %}
	
	{% block scripts %}
	
	{% endblock %}
</body>
</html>