{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<title>{% block title %}{% endblock %}</title>
	
	{% block css %}
		<link rel="stylesheet" type="text/css" href="{% static "Repository/packages/bootstrap-4.0.0-alpha.5/dist/css/bootstrap.min.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "Repository/packages/bootstrap-4.0.0-alpha.5/dist/css/bootstrap-flex.min.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "Repository/packages/bootstrap-4.0.0-alpha.5/dist/css/bootstrap-grid.min.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "Repository/packages/font-awesome-4.7.0/css/font-awesome.min.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "Repository/css/base.css" %}" />
	{% endblock %}
	
	{% block stylesheet %}
	
	{% endblock %}
</head>
{% load i18n %}

<body class="max-height">

	{% block messages %}
		{% if messages %}
			<ul class="messagelist">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endblock messages %}

	<div class="col-md-12">
		<header class="row">
			{% include "Repository/_header.html" %}
		</header>
	</div>
	<div class="col-md-12">
		<section class="row">
			<nav class="breadcrumb" style="width: 100%;">
		        {% block breadcrumbs %}
		        
		 	   {% endblock %}
			</nav>
		</section>
	</div>

	<div class="col-sm-12 col-md-12">
		<div class="container-fluid">
			<div class="row">
				{% block site %}
					<label class="h4 text-xs-center text-sm-center text-md-center page-title">
						{%  block page_title %}{% endblock %}
					</label>
					<section class="page-container">
						<div class="container-fluid">
							<div class="row">
							{% block content %}

							{% endblock %}
							</div>
						</div>
					</section>
				{% endblock %}
			</div>
		</div>
	</div>
	{% block footer %}
		{% include "Repository/_footer.html" %}
	{% endblock %}

	{% block js %}
		<script src="{% static "Repository/packages/jquery-3.1.1.js" %}"></script>
		<script src="{% static "Repository/packages/tether.min.js" %}"></script>
		<script src="{% static "Repository/packages/bootstrap-4.0.0-alpha.5/dist/js/bootstrap.min.js" %}"></script>
		<script src="{% static "Repository/js/base.js" %}"></script>
	{% endblock %}

	{% block scripts %}
	
	{% endblock %}
</body>
</html>