{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<title>{% block title %}{% endblock %}</title>
	
	{% block css %}
	
	{% endblock %}
	
	{% block stylesheet %}
	
	{% endblock %}
</head>
{% load i18n %}

<body class="max-height">

	{% block messages %}
		{% if messages %}
			<ul class="messagelist">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endblock messages %}

	<div class="col-md-12">
		<header class="row">
			{% include "Repository/_header.html" %}
		</header>
	</div>
	<div class="col-md-12">
		<section class="row">
			<nav class="breadcrumb" style="width: 100%;">
		        {% block breadcrumbs %}
		        
		 	   {% endblock %}
			</nav>
		</section>
	</div>

	<div class="col-sm-12 col-md-12">
		<div class="container-fluid">
			<div class="row">
				{% block site %}
					<h3 class="text-xs-center text-sm-center text-md-center page-title">
						{%  block page_title %}{% endblock %}
					</h3>
					<section class="page-container">
					{% block content %}

					{% endblock %}
					</section>
				{% endblock %}
			</div>
		</div>
	</div>
	{% block footer %}
		{% include "Repository/_footer.html" %}
	{% endblock %}

	{% block js %}

	{% endblock %}

	{% block scripts %}
	
	{% endblock %}
</body>
</html>