{% load i18n %}

<footer class="footer">
	<div class="container-fluid">
		<nav class="nav nav-inline">
			<a class="nav-link active" href="#">&copy; Saraiva Company</a>
			<a class="nav-link" href="{% url 'about' %}">{% trans "About" %}</a>
			<a class="nav-link" href="{% url 'terms' %}">{% trans "Terms of Use" %}</a>
			<a class="nav-link" href="{% url 'policies' %}">{% trans "Privacy Policy" %}</a>
			<a class="nav-link" href="{% url 'contact_us' %}">{% trans "Contact Us" %}</a>
			<div class="nav-link">
				<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
				<input name="next" type="hidden" value="{{ redirect_to }}" />
				<select name="language">
				{% get_current_language as LANGUAGE_CODE %}
				{% get_available_languages as LANGUAGES %}
				{% get_language_info_list for LANGUAGES as languages %}
				{% for language in languages %}
				<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected" {% endif %}> 
					{{ language.name_local }} ({{ language.code }})
				</option>
				{% endfor %}
				</select>
				<input type="submit" class="btn btn-primary btn-sm" value="{% trans 'Go' %}" />
				</form>
			</div>
			<a class="nav-link" href="{% url 'manager:feed' %}">
				<i class="fa fa-feed"></i>
				{% trans "Publications" %}
			</a>
			<a class="nav-link" href="{% url 'submission:feed' %}">
				<i class="fa fa-feed"></i>
				{% trans "Events" %}
			</a>
		</nav>
	</div>
</footer>