{% load i18n %}
{% load manager_tags %}

{% for field in form.visible_fields %}
	{% if field|is_checkbox %}
		{% include 'Repository/fields/checkbox.html' %}
	{% elif field|is_radio %}
		{% include 'Repository/fields/radio.html' %}
	{% elif field|is_select %}
		{% include 'Repository/fields/select.html' %}
	{% elif field|is_select_multiple %}
		{% include 'Repository/fields/select_multiple.html' %}
	{% elif field|is_file %}
		{% include 'Repository/fields/file.html' %}
	{% elif field|is_text  %}
		{% include 'Repository/fields/text.html' %}
	{% elif field|is_textarea %}
		{% include 'Repository/fields/textarea.html' %}
	{% elif field|is_email %}
		{% include 'Repository/fields/email.html' %}
	{% elif field|is_number %}
		{% include 'Repository/fields/number.html' %}
	{% elif field|is_date %}
		{% include 'Repository/fields/date.html' %}
	{% elif field|is_datetime %}
		{% include 'Repository/fields/datetime.html' %}
	{% elif field|is_password %}
		{% include 'Repository/fields/password.html' %}
	{% else %}
		{% include 'Repository/fields/field.html' %}
	{% endif %}
{% endfor %}