{% load i18n static %}

<div class="pagination">
	<span class="step-links">
		{% if page_obj.has_previous %}
			<a href="page={{ page_obj.previous_page_number }}">
				<i class="fa fa-arrow-left"></i>
				{% trans "Previous" %}
			</a>
		{% endif %}
		<span class="current">
			{% blocktrans with page_number=page_obj.number num_pages=paginator.num_pages %}
			Page {{ page_number }} of {{ num_pages }}.
			{% endblocktrans %}
		</span>
		{% if page_obj.has_next %}
			<a href="page={{ page_obj.next_page_number }}">
				{% trans "Next" %}
				<i class="fa fa-arrow-right"></i>
			</a>
		{% endif %}
	</span>
</div>