{% extends "Repository/_base.html" %}

{% load i18n static %}


{% block title %}{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'policies' %}" class="breadcrumb-item" >
		<i class="fa fa-file-text-o" aria-hidden="true"></i>
		{% trans "Privacy Policy" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "Privacy Policy" %}{% endblock %}
{% block content %}

<div class="text">

	<p class="paragraph">
			O Site RIUFC leva em consideração a importância da privacidade de nossos visitantes deixando aqui claro como são utilizadas todas as informações e dados eventualmente recebidos.
	</p>

	<p class="paragraph">
			Nós reconhecemos e garantimos que em hipótese alguma serão divulgados qualquer tipo de dado eventualmente enviado à nós seja por formulário, e-mail, ou qualquer outro meio.
	</p>

	<p  class="paragraph">
	<strong>O uso deste website está sujeito aos seguintes políticas de privacidade:</strong>
	</p>

	<ol>
	<li>
			<label>Privacidade</label>
			<p>Esta Política de Privacidade objetiva informar sobre as práticas relativas à coleta e utilização das informações fornecidas neste site. Leia seu conteúdo na íntegra antes de acessar as páginas ou nos fornecer informações.</p>
	</li>
	<li>
			<label>Consentimento</label>
			<p>Sempre que fornecer informações através deste site, concordará com os termos desta Política.</p>
	</li>
	<li>
			<label>Coleta direta de informações</label>
			<p>Este site coleta informações de seus visitantes não só por perguntas especificas, mas também permitindo a comunicação por e-mail e formulários. Para ter acesso a recursos específicos do site, será necessário que você nos forneça informações pessoais. Você será sempre avisado quais são obrigatórias e quais são opcionais.</p>
	</li>
	<li>
			<label>Coleta indireta de informações</label>
			<p>Este site usa tecnologias que capturam informações anônimas, tais como páginas mais visitadas e tempo de permanência, que servem para gerar estatísticas sobre as preferências dos visitantes e o consequente aprimoramento dos nossos serviços.</p>
	</li>
	<li>
			<label>Uso e divulgação de informações</label>
			<p>A Última Versão não comercializa ou compartilha informações pessoais fornecidas pelos visitantes deste site. As informações pessoais poderão ser divulgadas quando por força de determinação judicial ou de regulamentação governamental.</p>
	</li>
	<li>
			<label>Cookies e Web Beacons</label>
			<p>Utilizamos cookies para armazenar informação, tais como as suas preferências pessoais, quando você visita o RIUFC. Isto pode incluir um simples popup, ou uma ligação em vários serviços que providenciamos, tais como fóruns.</p>
	</li>
	<li>
			<label>Links a outros sites</label>
			<p>Como prestação de serviços, este site poderá conter links e conexões com outros sites, aos quais não se aplica esta Política de Privacidade. Recomendamos a leitura integral da Política de Privacidade de tais sites antes de fornecer-lhes informações pessoais.</p>
	</li>
	<li>
			<label>Envio de e-mails</label>
			<p>A nossa equipe não concorda com e nem pratica o envio de e-mails indesejados (spam). As informações consideradas relevantes e de interesse serão enviadas para o seu correio eletrônico, desde que autorizadas durante o cadastramento ou contato conosco.</p>
	</li>
	<li>
			<label>Declaração legal</label>
			<p>Para obter informações sobre as condições de uso deste site, acesse a nossos <a href="{% url 'terms' %}">Termos e Condições de Uso</a>.</p>
	</li>
	<li>
			<label>Atualizações</label>
			<p>Esta Política de Privacidade poderá ser atualizada a qualquer momento, sendo assim recomendamos o acesso periódico a esta página.<p>
	</li>
	</ol>

	<p>
	Atualizada em 03/01/2017.
	</p>

</div>
{% endblock %}