{% extends "submission/submission/list_all.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'submission:submission_change_reviser' event_slug=submission.event.slug slug=submission.slug %}" class="breadcrumb-item" >
		{% trans "Form Submission" %}
	</a>
{% endblock %}

{% block page_title %}{% trans "Form Submission" %}{% endblock %}

{% block content_inner %}
	<form action="." method="post" enctype="multipart/form-data">{% csrf_token %}		
		{% include "Repository/_form.html" %}
		<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
	</form>
{% endblock %}

{% block scripts %}
	{{ block.super }}
	{% include "Repository/imports/mask.html" %}
	{% include "Repository/imports/select2.html" %}
{% endblock %}