{% extends "submission/submission/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'submission:submission_detail' event_slug=event.slug slug=submission.slug %}" class="breadcrumb-item" >
		<i class="fa fa-book"></i>
		{{ publication.title|truncatewords:6 }}
	</a>
{% endblock %}

{%  block page_title %}
	{{ publication.title }}
	<div class="float-xs-right">
		{% if perms.submission.change_submission %}
		<a href="{% url 'submission:submission_update' event_slug=event.slug slug=submission.publication.slug %}" class="btn btn-info" data-toggle="tooltip" title="{% trans "Edit" %}">
			<i class="fa fa-edit"></i>
		</a>
		{% endif %}
		{% if perms.submission.delete_submission %}
		<a href="{% url 'submission:submission_delete' event_slug=event.slug slug=submission.slug %}" class="btn btn-danger" data-toggle="tooltip" title="{% trans "Delete" %}">
			<i class="fa fa-remove"></i>
		</a>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<dl class="definition">
		<dt class="col-sm-2">{% trans "Title" %}:</dt>
		<dd class="col-sm-10">{{ publication.title }}</dd>

		<dt class="col-sm-2">{% trans "Typology" %}:</dt>
		<dd class="col-sm-10">{{ publication.typology|title }}</dd>

		<dt class="col-sm-2">{% trans "Authors" %}:</dt>
		<dd class="col-sm-10">
			{% for author in publication.authors.all %}
				<a class="tag tag-primary" href="{% url 'manager:author_detail' slug=author.slug %}">
					<i class="fa fa-graduation-cap"></i>
					{{ author.reference_name }}	
				</a>
			{% endfor %}
		</dd>

		<dt class="col-sm-2">{% trans "Collection" %}:</dt>
		<dd class="col-sm-10">
			<a class="tag tag-primary" href="{% url 'manager:collection_detail' slug=publication.collection.slug %}">
				<i class="fa fa-object-group"></i>
				{{ publication.collection }}		
			</a>
		</dd>

		<dt class="col-sm-2">{% trans "Reference" %}:</dt>
		<dd class="col-sm-10">{{ publication.reference }}</dd>

		<dt class="col-sm-2">{% trans "Language" %}:</dt>
		<dd class="col-sm-10">{{ publication.language }}</dd>

		<dt class="col-sm-2">{% trans "Abstract" %}:</dt>
		<dd class="col-sm-10">{{ publication.abstract }}</dd>

		<dt class="col-sm-2">{% trans "Other Abstract" %}:</dt>
		<dd class="col-sm-10">{{ publication.other_abstract }}</dd>

		<dt class="col-sm-2">{% trans "Keywords" %}:</dt>
		<dd class="col-sm-10">
			{% for keyword in publication.keywords.all %}
			<a class="tag tag-primary" href="{% url 'manager:keyword_detail' slug=keyword.slug %}">
				<i class="fa fa-tags"></i>
				{{ keyword }}
			</a>
			{% endfor %}
		</dd>

		<dt class="col-sm-2">{% trans "Issue Date" %}:</dt>
		<dd class="col-sm-10">{{ publication.issue_date }}</dd>

		<dt class="col-sm-2">{% trans "File" %}:</dt>
		<dd class="col-sm-10">
			<a href="{{ publication.file.url }}" target="_blank">
				<i class="fa fa-download"></i>
				{% trans "Download" %}
			</a>
		</dd>

	</dl>
{% endblock %}