{% extends "submission/submission/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'submission:submission_detail' event_slug=event.slug slug=submission.slug %}" class="breadcrumb-item" >
		<i class="fa fa-upload"></i>
		{{ publication.title|truncatechars:20 }}
	</a>
{% endblock %}

{%  block page_title %}
	{{ publication.title }}
	<div class="float-xs-right">
		{% if perms.submission.change_submission %}
		<a href="{% url 'submission:submission_update' event_slug=event.slug slug=submission.publication.slug %}" class="btn btn-info" data-toggle="tooltip" title="{% trans "Edit" %}">
			<i class="fa fa-edit"></i>
		</a>
		{% endif %}
		{% if perms.submission.delete_submission %}
		<a href="{% url 'submission:submission_delete' event_slug=event.slug slug=submission.slug %}" class="btn btn-danger" data-toggle="tooltip" title="{% trans "Delete" %}">
			<i class="fa fa-remove"></i>
		</a>
		{% endif %}
	</div>
{% endblock %}

{% block content_inner %}
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>{% trans "Title" %}:</td>
				<td>{{ publication.title }}</td>
			</tr>
			<tr>
				<td>{% trans "Typology" %}:</td>
				<td>{{ publication.typology }}</td>
			</tr>
			<tr>
				<td>{% trans "Authors" %}:</td>
				<td>
					{% for author in publication.authors.all %}
						<a href="{% url 'manager:author_detail' slug=author.slug %}">
							{{ author.reference_name }}	
						</a>;
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>{% trans "Reference" %}:</td>
				<td>{{ publication.reference }}</td>
			</tr>
			<tr>
				<td>{% trans "Language" %}:</td>
				<td>{{ publication.language }}</td>
			</tr>
			<tr>
				<td>{% trans "Abstract" %}:</td>
				<td>{{ publication.abstract }}</td>
			</tr>
			<tr>
				<td>{% trans "Other Abstract" %}:</td>
				<td>{{ publication.other_abstract }}</td>
			</tr>
			<tr>
				<td>{% trans "Keywords" %}:</td>
				<td>
					{% for keyword in publication.keywords.all %}
					<a href="{% url 'manager:keyword_detail' slug=keyword.slug %}">
						{{ keyword }}
					</a>.
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>{% trans "Issue Date" %}:</td>
				<td>{{ publication.issue_date }}</td>
			</tr>
			<tr>
				<td>{% trans "File" %}:</td>
				<td>
					<a href="{{ publication.file.url }}" target="_blank">
						<i class="fa fa-download"></i>
						{% trans "Download" %}
					</a>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}