{% extends "submission/submission/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'submission:submission_create' event_slug=event.slug %}" class="breadcrumb-item" >
		{% trans "Form Submission" %}
	</a>
{% endblock %}

{% block page_title %}{% trans "Form Submission" %}{% endblock %}

{% block content %}	
	{% include "base/_form.html" %}
{% endblock %}

{% block js %}
	{{ block.super }}
	{% include "base/imports/mask.html" %}
	{% include "base/imports/select2.html" %}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
		var fields = [
			{id:'#id_authors', url:'manager:author_create', parameters:{}},
			{id:'#id_keywords', url:'manager:keyword_create', parameters:{}},
		];
		create_objects(fields);
	</script>
{% endblock %}