{% extends "manager/subject/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:subject_create' %}" class="breadcrumb-item" >
		<i class="fa fa-flag"></i>
		{{ subject.name }}
	</a>
{% endblock %}

{%  block page_title %}
	{{ subject.name }}
	<div class="float-xs-right">
		{% if perms.manager.change_subject %}
		<a href="{% url 'manager:subject_update' slug=subject.slug %}" class="btn btn-info" data-toggle="tooltip" title="{% trans "Edit" %}">
			<i class="fa fa-edit"></i>
		</a>
		{% endif %}
		{% if perms.manager.delete_subject %}
		<a href="{% url 'manager:subject_delete' slug=subject.slug %}" class="btn btn-danger" data-toggle="tooltip" title="{% trans "Delete" %}">
			<i class="fa fa-remove"></i>
		</a>
		{% endif %}
	</div>
{% endblock %}

{% block content_inner %}
	<dl class="definition">
		<dt class="col-sm-2">{% trans "Name" %}:</dt>
		<dd class="col-sm-10">{{ subject.name }}</dd>

		<dt class="col-sm-2">{% trans "Publications" %}:</dt>
		<dd class="col-sm-10">
			<a href="{% url 'manager:subject_publications' slug=subject.slug page=1 %}" data-toggle="tooltip" title="{% trans "See Publications" %}">
				<i class="fa fa-book"></i>
				{% trans "See Publications" %}
			</a>
		</dd>

		<dt class="col-sm-2">{% trans "Registration date" %}:</dt>
		<dd class="col-sm-10">{{ subject.registration_date }}</dd>
	</dl>
{% endblock %}