{% extends "manager/index.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block subjects %}active{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:subject_list' %}" class="breadcrumb-item" >
		<i class="fa fa-flag"></i>
		{% trans "Subjects" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "List of Subjects" %}{% endblock %}

{% block content %}
	<div class="col-md-4">
	<div class="row">
	{% if perms.manager.add_subject %}
		<a href="{% url 'manager:subject_create' %}" class="btn btn-success">
			<i class="fa fa-plus"></i>
			{% trans "New Subject" %}
		</a>
	{% endif %}
	</div>
	</div>

	<div class="col-md-8">
	<div class="row float-xs-right">
		{% include "base/_form_search.html" %}
	</div>
	</div>

	<table class="table table-bordered table-striped table-hover text">
		<thead class="thead-inverse">
			<tr>
				<th>{% trans "Name" %}</th>
				<th>{% trans "Publications" %}</th>
			</tr>
		</thead>

		<tbody>
			{% for subject in object_list %}
				<tr>
					<td>
						<a href="{% url 'manager:subject_detail' slug=subject.slug %}">
							{{ subject.name }}	
						</a>
					</td>
					<td>					
						<a href="{% url 'manager:subject_publications' slug=subject.slug %}" data-toggle="tooltip" title="{% trans "See Publications" %}">
							<i class="fa fa-book"></i>
							{% trans "See Publications" %}
						</a>
					</td>
				</tr>
			{% empty %}
				<tr>
					<td class="text-xs-center">{% trans "No Subject found!" %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include "base/_paginate.html" %}
{% endblock %}