{% extends "manager/index.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block subjects %}active{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:subject_list' page=1 %}" class="breadcrumb-item" >
		<i class="fa fa-flag"></i>
		{% trans "Subjects" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "List of Subjects" %}{% endblock %}

{% block content_inner %}
	<div class="col-md-4">
	{% if perms.manager.add_subject %}
		<a href="{% url 'manager:subject_create' %}" class="btn btn-success">
			<i class="fa fa-plus"></i>
			{% trans "Create Subject" %}
		</a>
	{% endif %}
	</div>
	<div class="col-md-8">
		{% include "Repository/_form_search.html" %}
	</div>
	<div class="col-md-12">
		<table class="table table-bordered">
			<thead class="thead-inverse">
				<tr>
					<th class="col-md-10">{% trans "Name" %}</th>
					<th class="col-md-2">{% trans "Options" %}</th>
				</tr>
			</thead>

			<tbody>
				{% for subject in object_list %}
					<tr>
						<td class="col-md-10">
							<a href="{% url 'manager:subject_detail' slug=subject.slug %}">
								{{ subject.name }}	
							</a>
						</td>
						<td class="col-md-2">							
							<div class="btn-group" role="group">
								<a href="{% url 'manager:subject_publications' slug=subject.slug page=1 %}" class="btn btn-primary btn-sm" title="{% trans "Publications" %}">
									<i class="fa fa-book"></i>
								</a>
								{% if perms.manager.change_subject %}
								<a href="{% url 'manager:subject_update' slug=subject.slug %}" class="btn btn-info btn-sm" title="{% trans "Edit" %}">
									<i class="fa fa-edit"></i>
								</a>
								{% endif %}
								{% if perms.manager.delete_subject %}
								<a href="{% url 'manager:subject_delete' slug=subject.slug %}" class="btn btn-danger btn-sm" title="{% trans "Delete" %}">
									<i class="fa fa-remove"></i>
								</a>
								{% endif %}
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-12">
		{% include "Repository/_paginate.html" %}
	</div>
{% endblock %}