{% extends "manager/publication/list.html" %}

{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block subjects %}active{% endblock %}
{% block publications %}{% endblock %}

{% block breadcrumbs %}
	<a href="{% url 'manager:home' %}" class="breadcrumb-item" >
		<i class="fa fa-home" aria-hidden="true"></i>
		{% trans "Home" %}
	</a>
	<a href="{% url 'manager:subject_list' %}" class="breadcrumb-item" >
		<i class="fa fa-flag"></i>
		{% trans "Subjects" %}
	</a>
	<a href="{% url 'manager:subject_publications' slug=subject.slug %}" class="breadcrumb-item" >
		<i class="fa fa-book"></i>
		{% blocktrans with subject=subject %}
			Publications of {{ subject }}
		{% endblocktrans %}
	</a>
{% endblock %}

{%  block page_title %}
	{% blocktrans with subject=subject %}
		Publications of {{ subject }}
	{% endblocktrans %}
{% endblock %}