{% extends "Repository/_base.html" %}

{% load i18n static %}


{% block title %}{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'submission:home' %}" class="breadcrumb-item" >
		<i class="fa fa-home" aria-hidden="true"></i>
		{% trans "Home" %}
	</a>
{% endblock %}


{% block site %}
	<div class="col-sm-2 col-md-2">
		<div class="row">
		{% block sidebar %}
			<div class="list-group sidebar">

				<a href="{% url 'submission:event_list' page=1 %}" class="list-group-item sidebar-item {% block events %}{% endblock %}">
					<i class="fa fa-book"></i>
					{% trans "Events" %}
				</a>
			
			</div>
		{% endblock %}
		</div>
	</div>

	<div class="col-sm-10 col-md-10">
		<div class="row">
			<label class="h4 text-xs-center text-sm-center text-md-center page-title">
				{%  block page_title %}{% trans "Welcome" %}{% endblock %}
			</label>
			<section class="page-container">
				<div class="container-fluid">
					<div class="row">
					{% block content %}
						<div class="jumbotron jumbotron-fluid">
							<div class="container-fluid">
								<h1 class="display-4">{% trans "Submission System UFC" %}</h1>
								<p class="lead">{% trans "Aims to store, preserve, disseminate and allow open access to scientific, academic, artistic, technical and administrative documents produced by UFC researchers and students." %}</p>
							</div>
						</div>
					{% endblock %}
					</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}