{% extends "base/_base.html" %}

{% load i18n static %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" media="all" href="{% static "submission/css/base.css" %}" />
{% endblock %}

{% block title %}{% endblock %}

{% block breadcrumbs %}
	<a href="{% url 'submission:home' %}" class="breadcrumb-item" >
		<i class="fa fa-upload" aria-hidden="true"></i>
		{% trans "Submission" %}
	</a>
{% endblock %}


{%  block page_title %}{% trans "Welcome" %}{% endblock %}

{% block content %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container-fluid">
			<h1 class="display-4">{% trans "Submission System UFC" %}</h1>
			<p class="lead">{% trans "Aims to store, preserve, disseminate and allow open access to scientific, academic, artistic, technical and administrative documents produced by UFC researchers and students." %}</p>
			<a class="btn btn-lg btn-success" href="{% url 'submission:event_list' %}" role="button">
				<i class="fa fa-hashtag"></i>
				{% trans "Events" %}
			</a>
		</div>
	</div>
{% endblock %}

{% block js %}
	{{ block.super }}
	<script src="{% static 'submission/js/base.js' %}"></script>
{% endblock %}