{% load i18n %}

<dl class="definition text" itemscope itemtype="http://schema.org/Email">
	<dt class="col-xs-2 col-sm-1">{% trans "From" %}:</dt>
	<dd class="col-xs-4 col-sm-5" itemprop="from">
		{{ object.chat_manager_send }}
	</dd>

	<dt class="col-xs-2 col-sm-1">{% trans "To" %}:</dt>
	<dd class="col-xs-4 col-sm-5" itemprop="to">
		{{ object.chat_manager_receive }}
	</dd>

	<dt class="col-xs-2 col-sm-1">{% trans "Text" %}:</dt>
	<dd class="col-xs-10 col-sm-11" itemprop="subject">
		{{ object.text }}
	</dd>

	<dt class="col-xs-2 col-sm-1">{% trans "File" %}:</dt>
	<dd class="col-xs-10 col-sm-11" itemprop="subject">
		{% if object.file %}
		<a href="{{ object.file.url }}" target="_blank">
			<i class="fa fa-download"></i>
			{% trans "Download" %}
		</a>
		{% else %}
			{% trans "Empty" %}
		{% endif %}
	</dd>
</dl>