{% load i18n %}

{% trans "Empty" as Empty  %}

<dl class="definition text" itemscope itemtype="http://schema.org/Review">
	<dt class="col-sm-3">{% trans "Originality" %}:</dt>
	<dd class="col-sm-9" itemprop="originality">
		<div class="col-sm-3">
			{{ review.originality }}	
		</div>
		<div class="col-sm-9">
			<label class="font-weight-bold">{% trans "Observation" %}:</label class="font-weight-bold">
			{{ review.originality_observation|default:Empty }}
		</div>
	</dd>

	<dt class="col-sm-3">{% trans "Technical Merit" %}:</dt>
	<dd class="col-sm-9" itemprop="technical_merit">
		<div class="col-sm-3">
			{{ review.technical_merit }}	
		</div>
		<div class="col-sm-9">
			<label class="font-weight-bold">{% trans "Observation" %}:</label class="font-weight-bold">
			{{ review.technical_merit_observation|default:Empty }}
		</div>
	</dd>

	<dt class="col-sm-3">{% trans "Clarity" %}:</dt>
	<dd class="col-sm-9" itemprop="clarity">
		<div class="col-sm-3">
			{{ review.clarity }}	
		</div>
		<div class="col-sm-9">
			<label class="font-weight-bold">{% trans "Observation" %}:</label class="font-weight-bold">
			{{ review.clarity_observation|default:Empty }}
		</div>
	</dd>

	<dt class="col-sm-3">{% trans "Text Quality" %}:</dt>
	<dd class="col-sm-9" itemprop="text_quality">
		<div class="col-sm-3">
			{{ review.text_quality }}	
		</div>
		<div class="col-sm-9">
			<label class="font-weight-bold">{% trans "Observation" %}:</label class="font-weight-bold">
			{{ review.text_quality_observation|default:Empty }}
		</div>
	</dd>

	<dt class="col-sm-3">{% trans "Relevance" %}:</dt>
	<dd class="col-sm-9" itemprop="relevance">
		<div class="col-sm-3">
			{{ review.relevance }}	
		</div>
		<div class="col-sm-9">
			<label class="font-weight-bold">{% trans "Observation" %}:</label class="font-weight-bold">
			{{ review.relevance_observation|default:Empty }}
		</div>
	</dd>

	<dt class="col-sm-3">{% trans "Knowledge Level Revisor" %}:</dt>
	<dd class="col-sm-9" itemprop="knowledge_level_revisor">
		<div class="col-sm-3">
			{{ review.knowledge_level_revisor }}	
		</div>
		<div class="col-sm-9">
			<label class="font-weight-bold">{% trans "Observation" %}:</label class="font-weight-bold">
			{{ review.knowledge_level_revisor_observation|default:Empty }}
		</div>
	</dd>

	<dt class="col-sm-3">{% trans "General" %}:</dt>
	<dd class="col-sm-9" itemprop="general">
		<div class="col-sm-3">
			{{ review.general }}	
		</div>
		<div class="col-sm-9">
			<label class="font-weight-bold">{% trans "Observation" %}:</label class="font-weight-bold">
			{{ review.general_observation|default:Empty }}
		</div>
	</dd>
</dl>