{% load i18n static %}

<dl class="definition text" itemscope itemtype="http://schema.org/Review">
	<dt class="col-sm-3">{% trans "Originality" %}:</dt>
	<dd class="col-sm-9" itemprop="originality">
		<div class="col-sm-3">
			{{ review.originality }}	
		</div>
		<div class="col-sm-9">
			<label class="font-weight-bold">{% trans "Observation" %}:</label class="font-weight-bold">
			{% if review.originality_observation %}
				{{ review.originality_observation }}
			{% else %}
				{% trans "Without Observation" %}
			{% endif %}
		</div>
	</dd>

	<dt class="col-sm-3">{% trans "Technical Merit" %}:</dt>
	<dd class="col-sm-9" itemprop="technical_merit">
		<div class="col-sm-3">
			{{ review.technical_merit }}	
		</div>
		<div class="col-sm-9">
			<label class="font-weight-bold">{% trans "Observation" %}:</label class="font-weight-bold">
			{% if review.technical_merit_observation %}
				{{ review.technical_merit_observation }}
			{% else %}
				{% trans "Without Observation" %}
			{% endif %}
		</div>
	</dd>

	<dt class="col-sm-3">{% trans "Clarity" %}:</dt>
	<dd class="col-sm-9" itemprop="clarity">
		<div class="col-sm-3">
			{{ review.clarity }}	
		</div>
		<div class="col-sm-9">
			<label class="font-weight-bold">{% trans "Observation" %}:</label class="font-weight-bold">
			{% if review.clarity_observation %}
				{{ review.clarity_observation }}
			{% else %}
				{% trans "Without Observation" %}
			{% endif %}
		</div>
	</dd>

	<dt class="col-sm-3">{% trans "Text Quality" %}:</dt>
	<dd class="col-sm-9" itemprop="text_quality">
		<div class="col-sm-3">
			{{ review.text_quality }}	
		</div>
		<div class="col-sm-9">
			<label class="font-weight-bold">{% trans "Observation" %}:</label class="font-weight-bold">
			{% if review.text_quality_observation %}
				{{ review.text_quality_observation }}
			{% else %}
				{% trans "Without Observation" %}
			{% endif %}
		</div>
	</dd>

	<dt class="col-sm-3">{% trans "Relevance" %}:</dt>
	<dd class="col-sm-9" itemprop="relevance">
		<div class="col-sm-3">
			{{ review.relevance }}	
		</div>
		<div class="col-sm-9">
			<label class="font-weight-bold">{% trans "Observation" %}:</label class="font-weight-bold">
			{% if review.relevance_observation %}
				{{ review.relevance_observation }}
			{% else %}
				{% trans "Without Observation" %}
			{% endif %}
		</div>
	</dd>

	<dt class="col-sm-3">{% trans "Knowledge Level Revisor" %}:</dt>
	<dd class="col-sm-9" itemprop="knowledge_level_revisor">
		<div class="col-sm-3">
			{{ review.knowledge_level_revisor }}	
		</div>
		<div class="col-sm-9">
			<label class="font-weight-bold">{% trans "Observation" %}:</label class="font-weight-bold">
			{% if review.knowledge_level_revisor_observation %}
				{{ review.knowledge_level_revisor_observation }}
			{% else %}
				{% trans "Without Observation" %}
			{% endif %}
		</div>
	</dd>

	<dt class="col-sm-3">{% trans "General" %}:</dt>
	<dd class="col-sm-9" itemprop="general">
		<div class="col-sm-3">
			{{ review.general }}	
		</div>
		<div class="col-sm-9">
			<label class="font-weight-bold">{% trans "Observation" %}:</label class="font-weight-bold">
			{% if review.general_observation %}
				{{ review.general_observation }}
			{% else %}
				{% trans "Without Observation" %}
			{% endif %}
		</div>
	</dd>

	</dl>