{% extends "submission/submission/to_review/detail.html" %}

{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'submission:review_create' event_slug=event.slug submission_slug=submission.slug %}" class="breadcrumb-item" >
		{% trans "Form Review" %}
	</a>
{% endblock %}

{% block page_title %}{% trans "Form Review" %}{% endblock %}

{% block content %}
	{% include "base/_form.html" %}
{% endblock %}

{% block js %}
	{{ block.super }}
	{% include "base/imports/select2.html" %}
{% endblock %}