{% extends "manager/collection/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:collection_create' %}" class="breadcrumb-item" >
		<i class="fa fa-object-group"></i>
		{{ collection.name }}
	</a>
{% endblock %}

{%  block page_title %}
	{{ collection.name }}
		<div class="float-xs-right">
		{% if perms.manager.change_collection %}
		<a href="{% url 'manager:collection_update' slug=collection.slug %}" class="btn btn-info"  data-toggle="tooltip" title="{% trans "Edit" %}">
			<i class="fa fa-edit"></i>
		</a>
		{% endif %}
		{% if perms.manager.delete_collection %}
		<a href="{% url 'manager:collection_delete' slug=collection.slug %}" class="btn btn-danger" data-toggle="tooltip"  title="{% trans "Delete" %}">
			<i class="fa fa-remove"></i>
		</a>
		{% endif %}
	</div>
{% endblock %}

{% block content_inner %}
	<dl class="definition" itemscope>
		<dt class="col-sm-2">{% trans "Communities" %}:</dt>
		<dd class="col-sm-10" itemprop="communities">
			{% for community in collection.communities.all %}
			<a href="{% url 'manager:community_detail' slug=community.slug page=1 %}" class="tag tag-primary">
				<i class="fa fa-university"></i>
				{{ community }}
			</a>
			{% empty %}
				{% trans "Without Community" %}
			{% endfor %}
		</dd>

		<dt class="col-sm-2">{% trans "Name" %}:</dt>
		<dd class="col-sm-10" itemprop="name">{{ collection.name }}</dd>

		<dt class="col-sm-2">{% trans "Description" %}:</dt>
		<dd class="col-sm-10" itemprop="description">{{ collection.description }}</dd>

		<dt class="col-sm-2">{% trans "Publications" %}:</dt>
		<dd class="col-sm-10" itemprop="publications">
			<a href="{% url 'manager:collection_publications' slug=collection.slug page=1 %}" data-toggle="tooltip" title="{% trans "See Publications" %}">
				<i class="fa fa-book"></i>
				{% trans "See Publications" %}
			</a>
		</dd>

		<dt class="col-sm-2">{% trans "Registration date" %}:</dt>
		<dd class="col-sm-10" itemprop="registration_date">{{ collection.registration_date }}</dd>
	</dl>
{% endblock %}