{% extends "manager/collection/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:collection_create' %}" class="breadcrumb-item" >
		<i class="fa fa-object-group"></i>
		{{ collection.name }}
	</a>
{% endblock %}

{%  block page_title %}
	{{ collection.name }}
		<div class="float-xs-right">
		{% if perms.manager.change_collection %}
		<a href="{% url 'manager:collection_update' slug=collection.slug %}" class="btn btn-info"  data-toggle="tooltip" title="{% trans "Edit" %}">
			<i class="fa fa-edit"></i>
		</a>
		{% endif %}
		{% if perms.manager.delete_collection %}
		<a href="{% url 'manager:collection_delete' slug=collection.slug %}" class="btn btn-danger" data-toggle="tooltip"  title="{% trans "Delete" %}">
			<i class="fa fa-remove"></i>
		</a>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	{% include 'manager/collection/_render.html' %}
{% endblock %}