{% extends "manager/collection/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:collection_create' %}" class="breadcrumb-item" >
		{% trans "Form Collection" %}
	</a>
{% endblock %}

{% block page_title %}{% trans "Form Collection" %}{% endblock %}

{% block content %}
	{% include "base/_form.html" %}
{% endblock %}

{% block js %}
	{{ block.super }}
	{% include "base/imports/select2.html" %}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
		var fields = [
			{id:'#id_communities', url:'manager:community_create', parameters:{}},
		];
		create_objects(fields);
	</script>
{% endblock %}