{% extends "manager/collection/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:collection_create' %}" class="breadcrumb-item" >
		{% trans "Form Collection" %}
	</a>
{% endblock %}

{% block page_title %}{% trans "Form Collection" %}{% endblock %}

{% block content %}
	<form action="." method="post">{% csrf_token %}		
		{% include "Repository/_form.html" %}
		<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
	</form>
{% endblock %}

{% block scripts %}
	{{ block.super }}
	{% include "Repository/imports/select2.html" %}
{% endblock %}