{% extends "manager/index.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block collections %}active{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:collection_list' page=1 %}" class="breadcrumb-item" >
		<i class="fa fa-object-group"></i>
		{% trans "Collections" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "List of Collections" %}{% endblock %}

{% block content %}
	<div class="col-md-4">
	<div class="row">
	{% if perms.manager.add_collection %}
		<a href="{% url 'manager:collection_create' %}" class="btn btn-success">
			<i class="fa fa-plus"></i>
			{% trans "New Collection" %}
		</a>
	{% endif %}
	</div>
	</div>

	<div class="col-md-8">
	<div class="row float-xs-right">
		{% include "Repository/_form_search.html" %}
	</div>
	</div>

	<div class="col-md-12">
	<div class="row">
		<table class="table table-bordered table-striped table-hover">
			<thead class="thead-inverse">
				<tr>
					<th class="col-md-5">{% trans "Name" %}</th>
					<th class="col-md-5">{% trans "Communities" %}</th>
					<th class="col-md-2">{% trans "Publications" %}</th>
				</tr>
			</thead>

			<tbody>
				{% for collection in object_list %}
					<tr>
						<td class="col-md-5">
							<a href="{% url 'manager:collection_detail' slug=collection.slug %}">
								{{ collection.name }}
							</a>
						</td>
						<td class="col-md-5">
							{% for community in collection.communities.all %}
								<a class="tag tag-primary" href="{% url 'manager:community_detail' slug=community.slug page=1 %}">
									{{ community }}
								</a>
							{% endfor %}
						</td>
						<td class="col-md-2">
							<a href="{% url 'manager:collection_publications' slug=collection.slug page=1 %}"  data-toggle="tooltip" title="{% trans "See Publications" %}">
								<i class="fa fa-book"></i>
								{% trans "See Publications" %}
							</a>
						</td>
					</tr>
				{% empty %}
					<tr>
						<td class="text-xs-center">{% trans "No Collection found!" %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% include "Repository/_paginate.html" %}
	</div>
	</div>
{% endblock %}