{% extends "manager/publication/list.html" %}

{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block collections %}active{% endblock %}
{% block publications %}{% endblock %}

{% block breadcrumbs %}
	<a href="{% url 'manager:home' %}" class="breadcrumb-item" >
		<i class="fa fa-home" aria-hidden="true"></i>
		{% trans "Home" %}
	</a>
	<a href="{% url 'manager:collection_list' %}" class="breadcrumb-item" >
		<i class="fa fa-object-group"></i>
		{% trans "Collections" %}
	</a>
	<a href="{% url 'manager:collection_publications' slug=collection.slug %}" class="breadcrumb-item" >
		<i class="fa fa-book"></i>
		{% blocktrans with collection=collection %}
			Publications of {{ collection }}
		{% endblocktrans %}
	</a>
{% endblock %}

{%  block page_title %}
	{% blocktrans with collection=collection %}
		Publications of {{ collection }}
	{% endblocktrans %}
{% endblock %}