{% extends "manager/publication/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:publication_detail' slug=object.slug %}" class="breadcrumb-item" >
		<i class="fa fa-users"></i>
		{{ object.title|truncatewords:"4" }}
	</a>
{% endblock %}

{%  block page_title %}
	{{ object.title }}
	<div class="float-xs-right">
		{% if perms.manager.change_publication %}
		<a href="{% url 'manager:publication_update' slug=publication.slug %}" class="btn btn-info" data-toggle="tooltip" title="{% trans "Edit" %}">
			<i class="fa fa-edit"></i>
		</a>
		{% endif %}
		{% if perms.manager.delete_publication %}
		<a href="{% url 'manager:publication_delete' slug=publication.slug %}" class="btn btn-danger" data-toggle="tooltip" title="{% trans "Delete" %}">
			<i class="fa fa-remove"></i>
		</a>
		{% endif %}
	</div>
{% endblock %}

{% block content_inner %}
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>{% trans "Title" %}:</td>
				<td>{{ object.title }}</td>
			</tr>
			<tr>
				<td>{% trans "Typology" %}:</td>
				<td>{{ object.typology }}</td>
			</tr>
			<tr>
				<td>{% trans "Authors" %}:</td>
				<td>
					{% for author in object.authors.all %}
						<a href="{% url 'manager:author_detail' slug=author.slug %}">
							{{ author.reference_name }}	
						</a>;
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>{% trans "Advisors" %}:</td>
				<td>
					{% for advisor in object.advisors.all %}
						<a href="{% url 'manager:author_detail' slug=advisor.slug %}">
							{{ advisor.reference_name }}	
						</a>;
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>{% trans "Community" %}:</td>
				<td>
					<a href="{% url 'manager:community_detail' slug=object.community.slug page=1 %}">
						{{ object.community }}		
					</a>
				</td>
			</tr>
			<tr>
				<td>{% trans "Collection" %}:</td>
				<td>
					<a href="{% url 'manager:collection_detail' slug=object.collection.slug %}">
						{{ object.collection }}		
					</a>
				</td>
			</tr>
			<tr>
				<td>{% trans "Publisher" %}:</td>
				<td>
					<a href="{% url 'manager:publisher_detail' slug=object.publisher.slug %}">
						{{ object.publisher }}		
					</a>
				</td>
			</tr>
			<tr>
				<td>{% trans "address" %}:</td>
				<td>{{ object.address }}</td>
			</tr>
			<tr>
				<td>{% trans "Year" %}:</td>
				<td>{{ object.year }}</td>
			</tr>
			<tr>
				<td>{% trans "Reference" %}:</td>
				<td>{{ object.reference }}</td>
			</tr>
			<tr>
				<td>{% trans "uri" %}:</td>
				<td>
					<a href="{{ request.get_host }}{{ object.uri }}">{{ request.get_host }}{{ object.uri }}</a>
				</td>
			</tr>
			<tr>
				<td>{% trans "Language" %}:</td>
				<td>{{ object.language }}</td>
			</tr>
			<tr>
				<td>{% trans "Abstract" %}:</td>
				<td>{{ object.abstract }}</td>
			</tr>
			<tr>
				<td>{% trans "Other Abstract" %}:</td>
				<td>{{ object.other_abstract }}</td>
			</tr>
			<tr>
				<td>{% trans "Keywords" %}:</td>
				<td>
					{% for keyword in object.keywords.all %}
					<a href="{% url 'manager:keyword_detail' slug=keyword.slug %}">
						{{ keyword }}
					</a>.
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>{% trans "Issue Date" %}:</td>
				<td>{{ object.issue_date }}</td>
			</tr>
			<tr>
				<td>{% trans "File" %}:</td>
				<td>
					<a href="{{ object.file.url }}" target="_blank">
						<i class="fa fa-download"></i>
						{% trans "Download" %}
					</a>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}