{% extends "manager/publication/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:publication_detail' slug=publication.slug %}" class="breadcrumb-item" >
		<i class="fa fa fa-book"></i>
		{{ publication.title|truncatewords:"4" }}
	</a>
{% endblock %}

{%  block page_title %}
	{{ publication.title }}
	<div class="float-xs-right">
		{% if perms.manager.change_publication %}
		<a href="{% url 'manager:publication_update' slug=publication.slug %}" class="btn btn-info" data-toggle="tooltip" title="{% trans "Edit" %}">
			<i class="fa fa-edit"></i>
		</a>
		{% endif %}
		{% if perms.manager.delete_publication %}
		<a href="{% url 'manager:publication_delete' slug=publication.slug %}" class="btn btn-danger" data-toggle="tooltip" title="{% trans "Delete" %}">
			<i class="fa fa-remove"></i>
		</a>
		{% endif %}
	</div>
{% endblock %}

{% block content_inner %}

	<dl class="definition" itemscope>
		<dt class="col-sm-2">{% trans "Title" %}:</dt>
		<dd class="col-sm-10" itemprop="title">{{ publication.title }}</dd>

		<dt class="col-sm-2">{% trans "Typology" %}:</dt>
		<dd class="col-sm-10" itemprop="typology">{{ publication.get_typology }}</dd>

		<dt class="col-sm-2">{% trans "Authors" %}:</dt>
		<dd class="col-sm-10" itemprop="authors">
			{% for author in publication.authors.all %}
				<a class="tag tag-primary" href="{% url 'manager:author_detail' slug=author.slug %}">
					<i class="fa fa-graduation-cap"></i>
					{{ author.reference_name }}	
				</a>
			{% endfor %}
		</dd>

		<dt class="col-sm-2">{% trans "Community" %}:</dt>
		<dd class="col-sm-10" itemprop="community">
			<a class="tag tag-primary" href="{% url 'manager:community_detail' slug=publication.community.slug page=1 %}">
				<i class="fa fa-university"></i>
				{{ publication.community }}		
			</a>
		</dd>

		<dt class="col-sm-2">{% trans "Collection" %}:</dt>
		<dd class="col-sm-10" itemprop="collection">
			<a class="tag tag-primary" href="{% url 'manager:collection_detail' slug=publication.collection.slug %}">
				<i class="fa fa-object-group"></i>
				{{ publication.collection }}		
			</a>
		</dd>

		<dt class="col-sm-2">{% trans "Publisher" %}:</dt>
		<dd class="col-sm-10" itemprop="publisher">
			<a class="tag tag-primary" href="{% url 'manager:publisher_detail' slug=publication.publisher.slug %}">
				<i class="fa fa-newspaper-o"></i>
				{{ publication.publisher }}
			</a>
		</dd>

		<dt class="col-sm-2">{% trans "Address" %}:</dt>
		<dd class="col-sm-10" itemprop="address">{{ publication.address }}</dd>

		<dt class="col-sm-2">{% trans "Year" %}:</dt>
		<dd class="col-sm-10" itemprop="year">{{ publication.year }}</dd>

		<dt class="col-sm-2">{% trans "Reference" %}:</dt>
		<dd class="col-sm-10" itemprop="reference">{{ publication.reference }}</dd>

		<dt class="col-sm-2">{% trans "URI" %}:</dt>
		<dd class="col-sm-10" itemprop="uri">
			<a href="{{ request.get_host }}{{ publication.uri }}">
				{{ request.get_host }}{{ publication.uri }}
			</a>
		</dd>

		<dt class="col-sm-2">{% trans "Language" %}:</dt>
		<dd class="col-sm-10" itemprop="language">{{ publication.get_language }}</dd>

		<dt class="col-sm-2">{% trans "Abstract" %}:</dt>
		<dd class="col-sm-10" itemprop="abstract">{{ publication.abstract }}</dd>

		<dt class="col-sm-2">{% trans "Other Abstract" %}:</dt>
		<dd class="col-sm-10" itemprop="other_abstract">{{ publication.other_abstract }}</dd>

		<dt class="col-sm-2">{% trans "Keywords" %}:</dt>
		<dd class="col-sm-10" itemprop="keywords">
			{% for keyword in publication.keywords.all %}
			<a class="tag tag-primary" href="{% url 'manager:keyword_detail' slug=keyword.slug %}">
				<i class="fa fa-tags"></i>
				{{ keyword }}
			</a>
			{% endfor %}
		</dd>

		<dt class="col-sm-2">{% trans "Issue Date" %}:</dt>
		<dd class="col-sm-10" itemprop="issue_date">{{ publication.issue_date }}</dd>

		<dt class="col-sm-2">{% trans "File" %}:</dt>
		<dd class="col-sm-10" itemprop="file">
			<a href="{{ publication.file.url }}" target="_blank">
				<i class="fa fa-download"></i>
				{% trans "Download" %}
			</a>
		</dd>
	</dl>
{% endblock %}