{% extends "manager/publication/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:publication_create' %}" class="breadcrumb-item" >
		{% trans "Form Publication" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "Form Publication" %}{% endblock %}

{% block content %}	
	{% include "base/_form.html" %}
{% endblock %}

{% block js %}
	{{ block.super }}
	{% include "base/imports/calendar.html" %}
	{% include "base/imports/select2.html" %}
	{% include "base/imports/reverse.html" %}
{% endblock %}

{% block scripts %}
	{{ block.super }}

	<script type="text/javascript">
		var fields = [
			{id:'#id_subjects', url: Urls['manager:subject_create']()},
			{id:'#id_authors', url: Urls['manager:author_create']()},
			{id:'#id_community', url: Urls['manager:community_create']()},
			{id:'#id_collection', url: Urls['manager:collection_create']()},
			{id:'#id_publisher', url: Urls['manager:publisher_create']()},
			{id:'#id_keywords', url: Urls['manager:keyword_create']()},
		];
		create_objects(fields);
	</script>
{% endblock %}