{% extends "manager/index.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block publications %}active{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:publication_list' page=1 %}" class="breadcrumb-item" >
		<i class="fa fa-users"></i>
		{% trans "Publications" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "List of Publications" %}{% endblock %}

{% block content_inner %}
	<div class="col-md-4">
	<div class="row">
	{% if perms.manager.add_publication %}
		<a href="{% url 'manager:publication_create' %}" class="btn btn-success">
			<i class="fa fa-plus"></i>
			{% trans "Create Publication" %}
		</a>
	{% endif %}
	</div>
	</div>

	<div class="col-md-8">
	<div class="row float-xs-right">
		{% include "Repository/_form_search.html" %}
	</div>
	</div>

	<div class="col-md-12">
	<div class="row">
		<table class="table table-bordered">
			<thead class="thead-inverse">
				<tr>
					{% if perms.manager.change_publication or perms.manager.delete_publication %}
					<th class="col-md-10">
					{% else %}
					<th class="col-md-12">
					{% endif %}
						{% trans "Title" %}
					</th>
					{% if perms.manager.change_publication or perms.manager.delete_publication %}
					<th class="col-md-2">{% trans "Options" %}</th>
					{% endif %}
				</tr>
			</thead>

			<tbody>
				{% for publication in object_list %}
					<tr>
						{% if perms.manager.change_publication or perms.manager.delete_publication %}
						<td class="col-md-10">
						{% else %}
						<td class="col-md-12">
						{% endif %}
							<a href="{% url 'manager:publication_detail' slug=publication.slug %}">
								{{ publication.title }}	
							</a>
						</td>
						{% if perms.manager.change_publication or perms.manager.delete_publication %}
						<td class="col-md-2">
							<div class="btn-group" role="group">
								{% if perms.manager.change_publication %}
								<a href="{% url 'manager:publication_update' slug=publication.slug %}" class="btn btn-info btn-sm" title="{% trans "Edit" %}">
									<i class="fa fa-edit"></i>
								</a>
								{% endif %}
								{% if perms.manager.delete_publication %}
								<a href="{% url 'manager:publication_delete' slug=publication.slug %}" class="btn btn-danger btn-sm" title="{% trans "Delete" %}">
									<i class="fa fa-remove"></i>
								</a>
								{% endif %}
							</div>
						</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	</div>

	<div class="col-md-12">
	<div class="row">
		{% include "Repository/_paginate.html" %}
	</div>
	</div>
{% endblock %}