{% extends "manager/index.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block publications %}active{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:publication_list' page=1 %}" class="breadcrumb-item" >
		<i class="fa fa-book"></i>
		{% trans "Publications" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "List of Publications" %}{% endblock %}

{% block content_inner %}
	<div class="col-md-4">
	<div class="row">
	{% if perms.manager.add_publication %}
		<a href="{% url 'manager:publication_create' %}" class="btn btn-success">
			<i class="fa fa-plus"></i>
			{% trans "New Publication" %}
		</a>
	{% endif %}
	</div>
	</div>

	<div class="col-md-8">
	<div class="row float-xs-right">
		{% include "Repository/_form_search.html" %}
	</div>
	</div>

	<div class="col-md-12">
	<div class="row">
		<table class="table table-bordered">
			<thead class="thead-inverse">
				<tr>
					<th>
						{% trans "Title" %}
					</th>
					<th>
						{% trans "Typology" %}
					</th>
					<th>
						{% trans "Authors" %}
					</th>
				</tr>
			</thead>

			<tbody>
				{% for publication in object_list %}
					<tr>
						<td>
							<a href="{% url 'manager:publication_detail' slug=publication.slug %}">
								{{ publication.title }}	
							</a>
						</td>
						<td>
							{{ publication.typology|title }}	
						</td>
						<td>
							{% for author in publication.authors.all %}
								<a href="{% url 'manager:author_detail' slug=author.slug %}" class="tag tag-primary">
									{{ author.reference_name }}
								</a>
							{% endfor %}
						</td>
					</tr>
				{% empty %}
					<tr>
						<td class="text-xs-center">{% trans "No Publication found!" %}</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfooter>		
				{% include "Repository/_paginate.html" %}
			</tfooter>
		</table>
	</div>
	</div>
{% endblock %}