{% extends "manager/admin/publisher/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:admin_publisher_create' %}" class="breadcrumb-item" >
		<i class="fa fa-users"></i>
		{{ object.name }}
	</a>
{% endblock %}

{%  block page_title %}{{ object.name }}{% endblock %}

{% block content_inner %}
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>{% trans "Name" %}:</td>
				<td>{{ object.name }}</td>
			</tr>
			<tr>
				<td>{% trans "Registration date" %}:</td>
				<td>{{ object.registration_date }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}