{% extends "manager/author/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:author_create' %}" class="breadcrumb-item" >
		<i class="fa fa-graduation-cap"></i>
		{{ object.last_name }}
	</a>
{% endblock %}

{%  block page_title %}
	{{ object.reference_name }}
	<div class="float-xs-right">
		{% if perms.manager.change_author %}
		<a href="{% url 'manager:author_update' slug=author.slug %}" class="btn btn-info" data-toggle="tooltip" title="{% trans "Edit" %}">
			<i class="fa fa-edit"></i>
		</a>
		{% endif %}
		{% if perms.manager.delete_author %}
		<a href="{% url 'manager:author_delete' slug=author.slug %}" class="btn btn-danger" data-toggle="tooltip" title="{% trans "Delete" %}">
			<i class="fa fa-remove"></i>
		</a>
		{% endif %}
	</div>
{% endblock %}

{% block content_inner %}
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>{% trans "First Name" %}:</td>
				<td>{{ object.first_name }}</td>
			</tr>
			<tr>
				<td>{% trans "Last Name" %}:</td>
				<td>{{ object.last_name }}</td>
			</tr>
			<tr>
				<td>{% trans "Reference Name" %}:</td>
				<td>{{ object.reference_name }}</td>
			</tr>
			<tr>
				<td>{% trans "Publications" %}:</td>
				<td>
					<a href="{% url 'manager:author_publications' slug=author.slug page=1 %}" data-toggle="tooltip" title="{% trans "See Publications" %}">
						<i class="fa fa-book"></i>
						{% trans "See Publications" %}
					</a>
				</td>
			</tr>
			<tr>
				<td>{% trans "Registration date" %}:</td>
				<td>{{ object.registration_date }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}