{% extends "manager/author/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:author_create' %}" class="breadcrumb-item" >
		<i class="fa fa-graduation-cap"></i>
		{{ object.last_name }}
	</a>
{% endblock %}

{%  block page_title %}{{ object.reference_name }}{% endblock %}

{% block content_inner %}
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>{% trans "First Name" %}:</td>
				<td>{{ object.first_name }}</td>
			</tr>
			<tr>
				<td>{% trans "Last Name" %}:</td>
				<td>{{ object.last_name }}</td>
			</tr>
			<tr>
				<td>{% trans "Reference Name" %}:</td>
				<td>{{ object.reference_name }}</td>
			</tr>
			<tr>
				<td>{% trans "Registration date" %}:</td>
				<td>{{ object.registration_date }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}