{% extends "manager/index.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block authors %}active{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:author_list' page=1 %}" class="breadcrumb-item" >
		<i class="fa fa-graduation-cap"></i>
		{% trans "Authors" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "List of Authors" %}{% endblock %}

{% block content_inner %}
	<div class="col-md-4">
	<div class="row">
	{% if perms.manager.add_author %}
		<a href="{% url 'manager:author_create' %}" class="btn btn-success">
			<i class="fa fa-plus"></i>
			{% trans "Create Author/Advisor" %}
		</a>
	{% endif %}
	</div>
	</div>

	<div class="col-md-8">
	<div class="row float-xs-right">
		{% include "Repository/_form_search.html" %}
	</div>
	</div>

	<div class="col-md-12">
	<div class="row">
		<table class="table table-bordered">
			<thead class="thead-inverse">
				<tr>
					<th class="col-md-10">{% trans "Reference Name" %}</th>
					<th class="col-md-2">{% trans "Publications" %}</th>
				</tr>
			</thead>

			<tbody>
				{% for author in object_list %}
					<tr>
						<td class="col-md-10">
							<a href="{% url 'manager:author_detail' slug=author.slug %}">
								{{ author.reference_name }}
							</a>
						</td>
						<td class="col-md-2">
							<a href="{% url 'manager:author_publications' slug=author.slug page=1 %}" data-toggle="tooltip" title="{% trans "See Publications" %}">
								<i class="fa fa-book"></i>
								{% trans "See Publications" %}
							</a>
						</td>
					</tr>
				{% empty %}
					<tr>
						<td class="text-xs-center">{% trans "No Author found!" %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	</div>

	<div class="col-md-12">
	<div class="row">
		{% include "Repository/_paginate.html" %}
	</div>
	</div>
{% endblock %}