body{
	background-image: url("/static/Repository/img/background.jpg");
   	background-repeat: repeat-y;
}

.sidebar, .sidebar > .sidebar-item{
	width: 100%;
	margin-right: 5px;
	font-weight: bold;
}

.page-title{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#FFF;
	background-color: #4390df;
	margin: auto;
	margin-top: 0px;
	padding: 5px ;
	width: 100%;
	line-height: 1.5;

}

.page-container{
	background-color: #ffa;
	padding: 5px 5px;
	width: 100%;
}

table{
	background-color: #fff;
}

footer{
	margin: 30px 0px 20px 0px;
}

.full-width{
	width: 100%;
}

.full-height{
	height: 100%;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #d5d5d5;
}

.card-img-top{
	margin-top: 15px;
}

dl.definition{
	width: 100%;
	background-color: #ffffff;
}

dl.definition > dt, dl.definition > dd{
	padding: 10px;
	border-top: 1px solid #333;
}

.card{
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
}