{% extends "inbox/message/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'inbox:message_send' %}" class="breadcrumb-item" >
		<i class="fa fa-send"></i>
		{% trans "Send Message" %}
	</a>
{% endblock %}

{% block page_title %}{% trans "Send Message" %}{% endblock %}

{% block content %}		
	{% include "base/_form.html" %}
{% endblock %}

{% block js %}
	{{ block.super }}
	{% include "base/imports/select2.html" %}
{% endblock %}