{% extends 'inbox/index.html' %}

{% load i18n humanize %}

{% block title %}{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
		{% if query == 'receives' %}
			<a href="{% url 'inbox:message_list_receives' %}" class="breadcrumb-item" >
				<i class="fa fa-envelope"></i>
				{% trans "Receives" %}
			</a>
		{% elif query == 'sends' %}
			<a href="{% url 'inbox:message_list_sends' %}" class="breadcrumb-item" >
				<i class="fa fa-send"></i>
				{% trans "Sends" %}
			</a>
		{% elif query == 'drafts' %}
			<a href="{% url 'inbox:message_list_drafts' %}" class="breadcrumb-item" >
				<i class="fa fa-file-text"></i>
				{% trans "Drafts" %}
			</a>
		{% endif %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "Messages" %}{% endblock %}

{% block content %}

	<div class="col-md-4">
		<div class="row">
		{% if perms.inbox.add_message %}
			<a href="{% url 'inbox:message_send' %}" class="btn btn-success">
				<i class="fa fa-send"></i>
				{% trans "Send Message" %}
			</a>
		{% endif %}
		</div>
	</div>

	<div class="col-md-8">
	<div class="row float-xs-right">
		{% include "base/_form_search.html" %}
	</div>
	</div>
	
	<div class="list-group full-width">
	{% for message in object_list %}
		<a href="{% url 'inbox:message_detail' slug=message.slug %}" class="list-group-item list-group-item-action">
			<h5 class="list-group-item-heading">
				{% include 'inbox/message/_title.html' %}
				{% if message.message_read %}
					<span class="tag tag-success tag-pill" data-toggle="tooltip" title="{% trans 'Message read' %}">
						<i class="fa fa-check"></i>
					</span>
				{% else %}
					<span class="tag tag-danger tag-pill" data-toggle="tooltip" title="{% trans 'Message no read' %}">
						<i class="fa fa-remove"></i>
					</span>
				{% endif %}
			</h5>
			<label class="text-muted">{{ message.last_modified|naturaltime }}</label>
			<span class="tag tag-default tag-pill float-xs-right">
				{% blocktrans with replies=message.get_replies|length %}
				{{ replies }} Replies
				{% endblocktrans %}
			</span>
		</a>
	{% empty %}
	{% endfor %}
	</div>
	{% include "base/_paginate.html" %}
{% endblock %}