{% load i18n %}

<dl class="definition" itemscope>
	<dt class="col-sm-2">{% trans "Name" %}:</dt>
	<dd class="col-sm-10" itemprop="name">{{ publisher.name }}</dd>

	<dt class="col-sm-2">{% trans "Publications" %}:</dt>
	<dd class="col-sm-10" itemprop="publications">
		<a href="{% url 'manager:publisher_publications' slug=publisher.slug page=1 %}" data-toggle="tooltip" title="{% trans "See Publications" %}">
			<i class="fa fa-book"></i>
			{% trans "See Publications" %}
		</a>
	</dd>

	<dt class="col-sm-2">{% trans "Registration date" %}:</dt>
	<dd class="col-sm-10" itemprop="registration_date">{{ publisher.registration_date }}</dd>
</dl>