{% extends "manager/publisher/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:publisher_create' %}" class="breadcrumb-item" >
		{% trans "Form Publisher" %}
	</a>
{% endblock %}

{% block page_title %}{% trans "Form Publisher" %}{% endblock %}

{% block content_inner %}
	<form action="." method="post">{% csrf_token %}		
		{% include "Repository/_form.html" %}
		<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
	</form>
{% endblock %}