{% extends "manager/publication/list.html" %}

{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block publishers %}active{% endblock %}
{% block publications %}{% endblock %}

{% block breadcrumbs %}
	<a href="{% url 'manager:home' %}" class="breadcrumb-item" >
		<i class="fa fa-home" aria-hidden="true"></i>
		{% trans "Home" %}
	</a>
	<a href="{% url 'manager:publisher_list' page=1 %}" class="breadcrumb-item" >
		<i class="fa fa-newspaper-o"></i>
		{% trans "Publishers" %}
	</a>
	<a href="{% url 'manager:publisher_publications' slug=publisher.slug page=1 %}" class="breadcrumb-item" >
		<i class="fa fa-book"></i>
		{% blocktrans with publisher=publisher %}
			Publications of {{ publisher }}
		{% endblocktrans %}
	</a>
{% endblock %}

{%  block page_title %}
	{% blocktrans with publisher=publisher %}
		Publications of {{ publisher }}
	{% endblocktrans %}
{% endblock %}