{% load i18n static %}

<div class="btn-group btn-group-md" role="group" aria-label="Large button group">
	{% if event.stage.type == 'before_period' %}
		{% blocktrans with date=event.submission_1_open %}
			Submissions in {{ date }}
		{% endblocktrans %}
	{% else %}
		<a href="{% url 'submission:submission_list' event_slug=event.slug %}" data-toggle="tooltip" class="btn btn-secondary" title="{% trans "List my submissions" %}">
			<i class="fa fa-upload"></i>
			{% trans "My Submissions" %}
		</a>
	{% endif %}

	{% if perms.submission.list_submission_to_review and event.stage.type != 'before_period' and event.stage.type != 'out_of_period'  %}
		<a href="{% url 'submission:submission_list_to_review' event_slug=event.slug %}" data-toggle="tooltip" class="btn btn-secondary" title="{% trans "Submission to review" %}">
			<i class="fa fa-file-text-o"></i>
			{% trans "To Review" %}
		</a>
	{% endif %}

	{% if event.stage.type == 'submission_complete' %}
		<a href="{% url 'submission:submission_final' event_slug=event.slug %}" data-toggle="tooltip" class="btn btn-secondary" title="{% trans "All publications of event" %}">
			<i class="fa fa-book"></i>
			{% trans "All Publications" %}
		</a>
	{% endif %}
</div>