{% load i18n %}

{% trans "Empty" as Empty %}

<div class="col-md-6">
	<dl class="definition text" itemscope itemtype="http://schema.org/Event">
	{% comment %}
		<dt class="col-sm-3">{% trans "Subjects" %}:</dt>
		<dd class="col-sm-9" itemprop="subject">
			{% for subject in event.subjects.all %}
				<a href="{% url 'manager:subject_detail' slug=subject.slug %}" class="tag tag-primary" target="_blank">
					<i class="fa fa-flag"></i>
					{{ subject }}		
				</a>
			{% empty %}
				{{ Empty }}	
			{% endfor %}
		</dd>
	{% endcomment %}
		<dt class="col-sm-3">{% trans "Communities" %}:</dt>
		<dd class="col-sm-9" itemprop="community">
			{% for community in event.communities.all %}
				<a href="{% url 'manager:community_detail' slug=community.slug %}" class="tag tag-primary" target="_blank">
					<i class="fa fa-university"></i>
					{{ community }}
				</a>
			{% empty %}
				{{ Empty }}
			{% endfor %}

		</dd>

		<dt class="col-sm-3">{% trans "Collections" %}:</dt>
		<dd class="col-sm-9" itemprop="collection">
			{% for collection in event.collections.all %}
				<a href="{% url 'manager:collection_detail' slug=collection.slug %}" class="tag tag-primary" target="_blank">
					<i class="fa fa-object-group"></i>
					{{ collection }}		
				</a>
			{% empty %}
				{{ Empty }}
			{% endfor %}
		</dd>

		<dt class="col-sm-3">{% trans "Publishers" %}:</dt>
		<dd class="col-sm-9" itemprop="publishers">
			{% for publisher in event.publishers.all %}
				<a href="{% url 'manager:publisher_detail' slug=publisher.slug %}" class="tag tag-primary" target="_blank">
					<i class="fa fa fa-newspaper-o"></i>
					{{ publisher }}
				</a>
			{% empty %}
				{{ Empty }}
			{% endfor %}
		</dd>

		<dt class="col-sm-3">{% trans "Date" %}:</dt>
		<dd class="col-sm-9" itemprop="date">{{ event.date }}</dd>

		<dt class="col-sm-3">{% trans "Address" %}:</dt>
		<dd class="col-sm-9" itemprop="address">{{ event.address }}</dd>
	</dl>
</div>
<div class="col-md-6">
	<dl class="definition text" itemscope itemtype="http://schema.org/Date">
		<dt class="col-sm-5">{% trans "Submission 1" %}:</dt>
		<dd class="col-sm-7" itemprop="submission_1">
			{{ event.submission_1_open }} -- {{ event.submission_1_close }}
		</dd>

		<dt class="col-sm-5">{% trans "Review" %}:</dt>
		<dd class="col-sm-7" itemprop="review">
			{{ event.review_open }} -- {{ event.review_close }}
		</dd>

		<dt class="col-sm-5">{% trans "Submission 2" %}:</dt>
		<dd class="col-sm-7" itemprop="submission_2">
			{{ event.submission_2_open }} -- {{ event.submission_2_close }}
		</dd>
	</dl>
	{% include "submission/event/_render_buttons_actions.html" %}
</div>