{% load i18n %}

<div class="col-md-6">
	<dl class="definition text" itemscope itemtype="http://schema.org/Event">
		<dt class="col-sm-3">{% trans "Community" %}:</dt>
		<dd class="col-sm-9" itemprop="community">
			<a href="{% url 'manager:community_detail' slug=event.community.slug %}" class="tag tag-primary" target="_blank">
				<i class="fa fa-university"></i>
				{{ event.community }}
			</a>
		</dd>

		<dt class="col-sm-3">{% trans "Publisher" %}:</dt>
		<dd class="col-sm-9" itemprop="publisher">
			<a href="{% url 'manager:publisher_detail' slug=event.publisher.slug %}" class="tag tag-primary" target="_blank">
				<i class="fa fa fa-newspaper-o"></i>
				{{ event.publisher }}
			</a>
		</dd>

		<dt class="col-sm-3">{% trans "Date" %}:</dt>
		<dd class="col-sm-9" itemprop="date">{{ event.date }}</dd>

		<dt class="col-sm-3">{% trans "Address" %}:</dt>
		<dd class="col-sm-9" itemprop="address">{{ event.address }}</dd>
	</dl>
</div>
<div class="col-md-6">
	<dl class="definition text" itemscope itemtype="http://schema.org/Date">
		<dt class="col-sm-5">{% trans "Submission 1" %}:</dt>
		<dd class="col-sm-7" itemprop="submission_1">
			{{ event.submission_1_open }} -- {{ event.submission_1_close }}
		</dd>

		<dt class="col-sm-5">{% trans "Review" %}:</dt>
		<dd class="col-sm-7" itemprop="review">
			{{ event.review_open }} -- {{ event.review_close }}
		</dd>

		<dt class="col-sm-5">{% trans "Submission 2" %}:</dt>
		<dd class="col-sm-7" itemprop="submission_2">
			{{ event.submission_2_open }} -- {{ event.submission_2_close }}
		</dd>
	</dl>
	{% include "submission/event/_render_buttons_actions.html" %}
</div>