{% extends "submission/event/list.html" %}


{% load i18n %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'submission:event_detail' slug=event.slug %}" class="breadcrumb-item" >
		<i class="fa fa-hashtag"></i>
		{{ event.name }}
	</a>
{% endblock %}

{%  block page_title %}
	{{ event.name }}
	<div class="float-xs-right">
		{% if perms.submission.change_event %}
		<a href="{% url 'submission:event_update' slug=event.slug %}" class="btn btn-info" data-toggle="tooltip" title="{% trans "Edit" %}">
			<i class="fa fa-edit"></i>
		</a>
		{% endif %}
		{% if perms.submission.delete_event %}
		<a href="{% url 'submission:event_delete' slug=event.slug %}" class="btn btn-danger" data-toggle="tooltip" title="{% trans "Delete" %}">
			<i class="fa fa-remove"></i>
		</a>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
<div class="text">
	<div class="col-md-12">
		<div class="row">	
			<p class="lead text-justify">
				<img src="{{ event.image.url }}" width="300px" height="200px" style="float: left; margin: 0px 10px 10px 0px ;" />
				{{ event.description }}
			</p>
		</div>
	</div>
	<hr class="divider"/>
	{% include 'submission/event/_render.html' %}
</div>
{% endblock %}