{% extends "submission/event/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'submission:event_create' %}" class="breadcrumb-item" >
		{% trans "Form Event" %}
	</a>
{% endblock %}

{% block page_title %}{% trans "Form Event" %}{% endblock %}

{% block content %}		
	{% include "base/_form.html" %}
{% endblock %}

{% block js %}
	{{ block.super }}
	{% include "base/imports/mask.html" %}
	{% include "base/imports/select2.html" %}
	{% include "base/imports/reverse.html" %}
{% endblock %}

{% block scripts %}
	{{ block.super }}

	<script type="text/javascript">
		var fields = [
			{id:'#id_subjects', url: Urls['manager:subject_create']()},
			{id:'#id_communities', url: Urls['manager:community_create']()},
			{id:'#id_collections', url: Urls['manager:collection_create']()},
			{id:'#id_publishers', url: Urls['manager:publisher_create']()},
		];
		create_objects(fields);
	</script>
{% endblock %}