{% extends "submission/event/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'submission:event_create' %}" class="breadcrumb-item" >
		{% trans "Form Event" %}
	</a>
{% endblock %}

{% block page_title %}{% trans "Form Event" %}{% endblock %}

{% block content %}		
	{% include "base/_form.html" %}
{% endblock %}

{% block js %}
	{{ block.super }}
	{% include "base/imports/mask.html" %}
	{% include "base/imports/select2.html" %}
{% endblock %}

{% block scripts %}
	{{ block.super }}

	<script type="text/javascript">
		var fields = [
			{id:'#id_community', url:'manager:community_create', parameters:{}},
			{id:'#id_collection', url:'manager:collection_create', parameters:{}},
			{id:'#id_publisher', url:'manager:publisher_create', parameters:{}},
		];
		create_objects(fields);
	</script>
{% endblock %}