{% extends "authentication/index.html" %}

{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'authentication:account_reset_password_reset1' %}"  class="breadcrumb-item" >
		{% trans "Password Change Form" %}
	</a>
{% endblock %}


{% block content %}
<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your email addess below" %}.</p>

<forma action="." method="POST">{% csrf_token %}
	{% with form as form %}
	{% include "base/_form.html" %}
	{% endwith %}
<input type="submit" value="{% trans 'Change my password' %}" class="default" />
</form>
{% endblock %}