{% extends 'authentication/account/login.html' %}

{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'authentication:account_password_reset' %}"  class="breadcrumb-item" >
		<i class="fa fa-key"></i>
		{% trans "Password Reset" %}
	</a>
{% endblock %}

{% block page_title %}{% trans "Recover Password" %}{% endblock %}

{% block content %}
	{% block password_reset_content %}
	<p class="align-justify">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
	{% include "base/_form.html" %}
	{% endblock %}
{% endblock %}