{% extends 'authentication/index.html' %}

{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'authentication:account_password_reset' %}"  class="breadcrumb-item" >
		{% trans "Password Reset" %}
	</a>
{% endblock %}

{% block page_title %}{% trans "Recover Password" %}{% endblock %}

{% block content %}
	{% block password_reset_content %}
	<p class="align-justify">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
	<form  action="{% url 'authentication:account_password_reset' %}" method="POST">
		{% csrf_token %}
		{% with form as form %}
		{% include "Repository/_form.html" %}
		{% endwith %}
		<button type="submit" class="button primary">
			{% trans 'Submit' %}
		</button>
	</form>
	{% endblock %}
{% endblock %}