{% extends "authentication/index.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block participants %}active{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'authentication:participant_list' page=1 %}" class="breadcrumb-item" >
		<i class="fa fa-users"></i>
		{% trans "Participants" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "List of Participants" %}{% endblock %}

{% block content %}
	<div class="col-md-4">
	</div>

	<div class="col-md-8">
	<div class="row float-xs-right">
		{% include "Repository/_form_search.html" %}
	</div>
	</div>

	<div class="col-md-12">
	<div class="row">
		<table class="table table-bordered table-striped table-hover text">
			<thead class="thead-inverse">
				<tr>
					<th>{% trans "Full Name" %}</th>
					<th>{% trans "Username" %}</th>
					<th>{% trans "Email" %}</th>
				</tr>
			</thead>

			<tbody>
				{% for participant in object_list %}
					<tr>
						<td>
							{{ participant.get_full_name }}
						</td>
						<td>
							<a href="{% url 'authentication:account_detail' pk=participant.pk %}">
							{{ participant.username }}
							</a>
						</td>
						<td>
							{{ participant.email }}	
						</td>
					</tr>
				{% empty %}
					<tr>
						<td class="text-xs-center">{% trans "No Administrator found!" %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% include "Repository/_paginate.html" %}
	</div>
	</div>
{% endblock %}