body{
	background-image: url("/static/Repository/img/background.jpg");
   	background-repeat: repeat-y;
}

.sidebar, .sidebar > .sidebar-item{
	width: 100%;
	margin-right: 5px;
	font-weight: bold;
}

.page-title{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#FFF;
	background-color: #0275d8;
	border-color: #0275d8;
	border-top-right-radius: .25rem;
	border-top-left-radius: .25rem;
	margin: auto;
	margin-top: 0px;
	padding: 5px;
	font-weight: bold;
	width: 100%;
	line-height: 1.5;
}

.page-container{
	background-color: #ffa;
	padding: 5px 5px;
	width: 100%;
}

.full-width{
	width: 100%;
	min-width: 100%;
}

.full-height{
	height: 100%;
}


.card-img-top{
	margin-top: 15px;
}

.text{
	background-color: #fff;
	padding: 10px;
}

dl.definition{
	width: 100%;
}

dl.definition > dt, dl.definition > dd{
	padding: 10px;
	border-top: 1px solid #333;
}

dl.definition > dt:nth-child(1), dl.definition > dd:nth-child(2){
	border-top: none;
}


.card{
	border: 1px solid #ddd;
}

ul.errorlist > li{
	color: red;
}

hr.divider{
	padding: 0px;
	margin-bottom: 10px;
}

.form-group{
	margin-bottom: 0px;
}