{% load i18n %}

<dl class="definition text" itemscope itemtype="http://schema.org/Keyword">
	<dt class="col-sm-2">{% trans "Name" %}:</dt>
	<dd class="col-sm-10" itemprop="name">{{ keyword.name }}</dd>

	<dt class="col-sm-2">{% trans "Publications" %}:</dt>
	<dd class="col-sm-10" itemprop="publications">
		<a href="{% url 'manager:keyword_publications' slug=keyword.slug %}" data-toggle="tooltip" title="{% trans "See Publications" %}">
			<i class="fa fa-book"></i>
			{% trans "See Publications" %}
		</a>
	</dd>

	<dt class="col-sm-2">{% trans "Registration date" %}:</dt>
	<dd class="col-sm-10" itemprop="registration_date">{{ keyword.registration_date }}</dd>
</dl>