{% extends "manager/keyword/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:keyword_create' %}" class="breadcrumb-item" >
		<i class="fa fa-users"></i>
		{{ object.name }}
	</a>
{% endblock %}

{%  block page_title %}
	{{ object.name }}
	<div class="float-xs-right">
		{% if perms.manager.change_keyword %}
		<a href="{% url 'manager:keyword_update' slug=keyword.slug %}" class="btn btn-info" data-toggle="tooltip" title="{% trans "Edit" %}">
			<i class="fa fa-edit"></i>
		</a>
		{% endif %}
		{% if perms.manager.delete_keyword %}
		<a href="{% url 'manager:keyword_delete' slug=keyword.slug %}" class="btn btn-danger" data-toggle="tooltip" title="{% trans "Delete" %}">
			<i class="fa fa-remove"></i>
		</a>
		{% endif %}
	</div>
{% endblock %}

{% block content_inner %}
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>{% trans "Name" %}:</td>
				<td>{{ object.name }}</td>
			</tr>
			<tr>
				<td>{% trans "Publications" %}:</td>
				<td>
					<a href="{% url 'manager:keyword_publications' slug=keyword.slug page=1 %}" data-toggle="tooltip" title="{% trans "See Publications" %}">
						<i class="fa fa-book"></i>
						{% trans "See Publications" %}
					</a>
				</td>
			</tr>
			<tr>
				<td>{% trans "Registration date" %}:</td>
				<td>{{ object.registration_date }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}