{% extends "manager/index.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block keywords %}active{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:keyword_list' page=1 %}" class="breadcrumb-item" >
		<i class="fa fa-tags"></i>
		{% trans "Keywords" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "List of Keywords" %}{% endblock %}

{% block content %}
	<div class="col-md-4">
	<div class="row">
	{% if perms.manager.add_keyword %}
		<a href="{% url 'manager:keyword_create' %}" class="btn btn-success">
			<i class="fa fa-plus"></i>
			{% trans "New Keyword" %}
		</a>
	{% endif %}
	</div>
	</div>

	<div class="col-md-8">
	<div class="row float-xs-right">
		{% include "Repository/_form_search.html" %}
	</div>
	</div>

	<div class="col-md-12">
	<div class="row">
		<table class="table table-bordered table-striped table-hover text">
			<thead class="thead-inverse">
				<tr>
					<th>{% trans "Name" %}</th>
					<th>{% trans "Publications" %}</th>
				</tr>
			</thead>

			<tbody>
				{% for keyword in object_list %}
					<tr>
						<td>
							<a href="{% url 'manager:keyword_detail' slug=keyword.slug %}">
								{{ keyword.name }}
							</a>
						</td>
						<td>
							<a href="{% url 'manager:keyword_publications' slug=keyword.slug page=1 %}" data-toggle="tooltip" title="{% trans "See Publications" %}">
								<i class="fa fa-book"></i>
								{% trans "See Publications" %}
							</a>
						</td>
					</tr>
				{% empty %}
					<tr>
						<td class="text-xs-center">{% trans "No Keyword found!" %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% include "Repository/_paginate.html" %}
	</div>
	</div>
{% endblock %}