{% load i18n %}
<form action="" method="GET" class="form-inline">
	<div class="input-group ">
		<select value="title" name="query" class="form-control">
			{% for elem, value in model.get_search_fields %}
			<option value="{{ elem }}">{{ value|title }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="input-group">
		<input type="text" name="text" class="form-control" placeholder="{% trans 'Search' %}" />
	</div>
	<button type="submit" class="btn btn-info">
		<i class="fa fa-search"></i>
	</button>
</form>