{% extends "manager/community/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:community_create' %}" class="breadcrumb-item" >
		<i class="fa fa-university"></i>
		{{ community.name }}
	</a>
{% endblock %}

{%  block page_title %}
	{{ community.name }}
	<div class="float-xs-right">
		{% if perms.manager.change_community %}
		<a href="{% url 'manager:community_update' slug=community.slug %}" class="btn btn-info" data-toggle="tooltip" title="{% trans "Edit" %}">
			<i class="fa fa-edit"></i>
		</a>
		{% endif %}
		{% if perms.manager.delete_community %}
		<a href="{% url 'manager:community_delete' slug=community.slug %}" class="btn btn-danger" data-toggle="tooltip" title="{% trans "Delete" %}">
			<i class="fa fa-remove"></i>
		</a>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	{% include 'manager/community/_render.html' %}
{% endblock %}