{% extends "manager/index.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block communities %}active{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:community_list' page=1 %}" class="breadcrumb-item" >
		<i class="fa fa-university"></i>
		{% trans "Communities" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "List of Communities" %}{% endblock %}

{% block content_inner %}
	<div class="col-md-4">
	{% if perms.manager.add_community %}
		<a href="{% url 'manager:community_create' %}" class="btn btn-success">
			<i class="fa fa-plus"></i>
			{% trans "Create Comunity" %}
		</a>
	{% endif %}
	</div>
	<div class="col-md-8">
		{% include "Repository/_form_search.html" %}
	</div>
	<div class="col-md-12">
		<table class="table table-bordered">
			<thead class="thead-inverse">
				<tr>
					<th class="col-md-5">{% trans "Name" %}</th>
					<th class="col-md-5">{% trans "Acronym" %}</th>
					<th class="col-md-2">{% trans "Options" %}</th>
				</tr>
			</thead>

			<tbody>
				{% for community in object_list %}
					<tr>
						<td class="col-md-5">
							<a href="{% url 'manager:community_detail' slug=community.slug page=1 %}">{{ community.name }}</a>
						</td>
						<td class="col-md-5">{{ community.acronym }}</td>
						<td class="col-md-2">
							<div class="btn-group" role="group">
								<a href="{% url 'manager:community_publications' slug=community.slug page=1 %}" class="btn btn-primary btn-sm" title="{% trans "Publications" %}">
									<i class="fa fa-book"></i>
								</a>
								{% if perms.manager.change_community %}
								<a href="{% url 'manager:community_update' slug=community.slug %}" class="btn btn-info btn-sm" title="{% trans "Edit" %}">
									<i class="fa fa-edit"></i>
								</a>
								{% endif %}
								{% if perms.manager.delete_community %}
								<a href="{% url 'manager:community_delete' slug=community.slug %}" class="btn btn-danger btn-sm" title="{% trans "Delete" %}">
									<i class="fa fa-remove"></i>
								</a>
								{% endif %}
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-12">
		{% include "Repository/_paginate.html" %}
	</div>
{% endblock %}