{% extends "manager/index.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block communities %}active{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'manager:community_list' page=1 %}" class="breadcrumb-item" >
		<i class="fa fa-university"></i>
		{% trans "Communities" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "List of Communities" %}{% endblock %}

{% block content %}
	<div class="col-md-4">
	<div class="row">
	{% if perms.manager.add_community %}
		<a href="{% url 'manager:community_create' %}" class="btn btn-success">
			<i class="fa fa-plus"></i>
			{% trans "New Comunity" %}
		</a>
	{% endif %}
	</div>
	</div>

	<div class="col-md-8">
	<div class="row float-xs-right">
		{% include "Repository/_form_search.html" %}
	</div>
	</div>

	<div class="col-md-12">
	<div class="row">
		<table class="table table-bordered table-striped table-hover text">
			<thead class="thead-inverse">
				<tr>
					<th>{% trans "Name" %}</th>
					<th>{% trans "Acronym" %}</th>
					<th>{% trans "Publications" %}</th>
				</tr>
			</thead>

			<tbody>
				{% for community in object_list %}
					<tr>
						<td>
							<a href="{% url 'manager:community_detail' slug=community.slug page=1 %}">{{ community.name }}</a>
						</td>
						<td>{{ community.acronym }}</td>
						<td>
							<a href="{% url 'manager:community_publications' slug=community.slug page=1 %}"  data-toggle="tooltip" title="{% trans "See Publications" %}">
								<label>
									<i class="fa fa-book"></i>
									{% trans "See Publications" %}
								</label>
							</a>
						</td>
					</tr>
				{% empty %}
					<tr>
						<td class="text-xs-center">{% trans "No Community found!" %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% include "Repository/_paginate.html" %}
	</div>
	</div>
{% endblock %}