{% extends "manager/publication/list.html" %}

{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block communities %}active{% endblock %}
{% block publications %}{% endblock %}

{% block breadcrumbs %}
	<a href="{% url 'manager:home' %}" class="breadcrumb-item" >
		<i class="fa fa-home" aria-hidden="true"></i>
		{% trans "Home" %}
	</a>
	<a href="{% url 'manager:community_list' %}" class="breadcrumb-item" >
		<i class="fa fa-university"></i>
		{% trans "Communities" %}
	</a>
	<a href="{% url 'manager:community_publications' slug=community.slug %}" class="breadcrumb-item" >
		<i class="fa fa-book"></i>
		{% blocktrans with community=community %}
			Publications of {{ community }}
		{% endblocktrans %}
	</a>
{% endblock %}

{%  block page_title %}
	{% blocktrans with community=community %}
		Publications of {{ community }}
	{% endblocktrans %}
{% endblock %}