{% extends "authentication/administrator/list.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'authentication:administrator_delete' pk=object.pk %}" class="breadcrumb-item" >
		<i class="fa fa-user-times"></i>
		{% trans "Confirm delete" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "Confirm delete" %}{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid text-xs-center full-width">
	<div class="container-fluid">
		<form action="" method="post">{% csrf_token %}
			<p class="lead">{% trans "Are you sure you want to delete" %} "{{ object }}"?</p>
			<a href="{% url 'authentication:administrator_list' %}" class="btn btn-info">{% trans "No" %}</a>
			<button class="btn btn-primary" type="submit">{% trans "Yes" %}</button>
		</form>
	</div>
</div>
{% endblock %}