{% extends "authentication/index.html" %}


{% load i18n static %}

{% block title %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block administrators %}active{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'authentication:administrator_list' page=1 %}" class="breadcrumb-item" >
		<i class="fa fa-users"></i>
		{% trans "Administrators" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "List of Administrators" %}{% endblock %}

{% block content %}
	<div class="col-md-4">
	<div class="row">
	{% if perms.authentication.add_administrator %}
		<a href="{% url 'authentication:administrator_create'  %}" class="btn btn-success">
			<i class="fa fa-user-plus"></i>
			{% trans "New Administrator" %}
		</a>
	{% endif %}
	</div>
	</div>

	<div class="col-md-8">
	<div class="row float-xs-right">
		{% include "base/_form_search.html" %}
	</div>
	</div>

	<div class="col-md-12">
	<div class="row">
		<table class="table table-bordered table-striped table-hover text">
			<thead class="thead-inverse">
				<tr>
					<th>{% trans "Full Name" %}</th>
					<th>{% trans "Username" %}</th>
					<th>{% trans "Email" %}</th>
					{% if perms.authentication.delete_administrator %}
					<th>{% trans "Options" %}</th>
					{% endif %}
				</tr>
			</thead>

			<tbody>
				{% for administrator in object_list %}
					<tr>
						<td>
							{{ administrator.get_full_name }}
						</td>
						<td>
							<a href="{% url 'authentication:account_detail' pk=administrator.pk %}">
							{{ administrator.username }}
							</a>
						</td>
						<td>
							{{ administrator.email }}	
						</td>
						{% if perms.authentication.delete_administrator %}
						<td>
							<a href="{% url 'authentication:administrator_delete' pk=administrator.pk  %}" class="btn btn-link">
								<i class="fa fa-remove"></i>
								{% trans "Remove" %}
							</a>
						</td>
						{% endif %}
					</tr>
				{% empty %}
					<tr>
						<td class="text-xs-center">{% trans "No Administrator found!" %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% include "base/_paginate.html" %}
	</div>
	</div>
{% endblock %}