{% load i18n %}

<div class="container-fluid">
	<div class="form-check row">
		{% include 'base/fields/headers/caption.html' %}
		<div class="col-xs-10">
			<label class="form-check-label" data-toggle="tooltip" title="{{ field.help_text }}">
			    <input id="{{ field.auto_id }}"
			    class="form-check-input {{ field.css_classes }}"
				type="checkbox"
				name="{% if form.prefix %}{{form.prefix}}-{% endif %}{{ field.name }}"
				{% if field.value == True or field.initial == True %}checked{% endif %}
				{% include 'base/fields/headers/attrs.html' %}
				{% if field.field.required %}
					required="required"
				{% endif %}
				tabindex="{{ forloop.counter }}"
				/>
			</label>
		</div>
	</div>
</div>