{% load i18n %}

<div class="container-fluid">
	<div class="form-group row">
		{% include 'base/fields/headers/caption.html' %}
		<div class="col-xs-10">
			<input data-toggle="tooltip" data-placement="top" title="{{ field.help_text }}"
				class="form-control"
				name="{% if form.prefix %}{{form.prefix}}-{% endif %}{{ field.name }}"
				type="email" id="{{ field.auto_id }}"
				{% if field.value %}value="{{ field.value }}"{% endif %}
				{% include 'base/fields/headers/attrs.html' %}
				{% if field.field.required %}
					required="required"
				{% endif %}
				tabindex="{{ forloop.counter }}" />
		</div>
	</div>
</div>