{% load i18n manager_tags %}

<div class="container-fluid">
	<div class="form-group row">
		{% include 'base/fields/headers/caption.html' %}
		<div class="col-xs-9">
		    <select multiple="multiple" data-toggle="tooltip" title="{{ field.help_text }}"
				class="form-control {{ field.css_classes }}"
				name="{% if form.prefix %}{{form.prefix}}-{% endif %}{{ field.name }}"
				id="{{ field.auto_id }}"
				{% include 'base/fields/headers/attrs.html' %}
				{% if field.field.required %}
					required="required"
				{% endif %}
				tabindex="{{ forloop.counter }}">
				{% for value, text in field.field.choices %}
				<option value="{{ value }}" {% if value|convert:'int' in field.value|convert:'int' %}selected="selected"{% endif %}>{{ text }}</option>
				{% endfor %}
			</select>
			{% include 'base/fields/headers/errors.html' %}
		</div>
		<div class="col-xs-1" style="height: 100px;">
			<div class="btn-plus">
				
			</div>
		</div>
	</div>
</div>